.cardWrapper {
    min-height: 440px;
    width: calc(100vw - 40px);
    max-width: 900px;
    background: #181818;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.info {
    flex: 1 0 310px;
    max-width: calc(100vw - 120px);
}

.title {
    font-size: 36px;
}

.desc {
    font-size: 18px;
    color: #A7AAAD;
    margin: 30px 0;
}

.link {
    background: #010001;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    transition: all .2s;
}

.link > span {
    transition: all .2s;
}

.link:hover {
    transform: scale(1.05);
    transition: all .2s;
    gap: 30px;
}

.link:hover > span {
    transform: translate(10px);
    transition: all .2s;
}

.scrin {
    width: 510px;
    transform: translate(12%, 20%);
    display: flex;
    flex: 1 0 510px;
    aspect-ratio: 14 / 9;
}