.heroWrapper {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
    height: calc(100vw / 16 * 8);
}

.name, .nameTransparent {
    font-family: Public Sans, sans-serif;
    background-clip: text;
    font-size: 17vw;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: -3vw 0;
    transform: scaleX(1.1);
    letter-spacing: -1vw;
    -webkit-text-stroke: 2px white;
}

.nameTransparent {
    color: transparent;
}

.locationWrapper, .contactWrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
    height: 6.6vw;
}

.locationText, .contactText {
    font-size: 1.7vw;
}

.paragraphText {
    font-size: 2vw;
    margin: 2vw 0 0 5vw;
    width: 16vw
}

.socialContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 13vw;
    margin: 3vw 3vw 0 0;
    width: 21vw;
}

.socialWrapper {
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.cardsContainer {
    margin-top: 499px;
    /*margin-bottom: -613px;*/
    background: #fff;
    padding: 0 20px
}

.cardsWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    transform: translateY(-450px);
    z-index: 2;
    position: relative;
}

.footerContainer {
    z-index: 1;
    position: absolute;
    transform: translateY(-600px);
}

.footer {
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #010001;
    width: 100vw;
    text-align: center;
    flex-direction: column;
}

.mainTitle {
    font-size: 40px;
    width: calc(100vw - 40px);
    max-width: 930px
}

@media (max-width: 1280px) {
    .heroWrapper {
        transform: scale(1.3);
        height: calc(100vw / 16 * 12);
    }
}