.heroWrapper {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
    height: min(calc(130vw / 16 * 8), 100lvh);
    pointer-events: none;
}

.name, .nameTransparent {
    font-family: Public Sans, sans-serif;
    background-clip: text;
    font-size: min(22vw, 216px);
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: max(-3.9vw, -38px) 0;
    transform: scaleX(1.1);
    letter-spacing: max(-1vw, -10px);
    -webkit-text-stroke: 2px white;
}

.nameTransparent {
    color: transparent;
}

.locationWrapper, .contactWrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
    height: min(8.6vw, 84px);
}

.locationText, .contactText {
    font-size: min(2.2vw, 22px);
}

.paragraphText {
    font-size: min(2.6vw, 25px);
    margin: min(1.2vw, 12px) 0 0 min(6.5vw, 64px);
    width: min(20vw, 200px);
    z-index: 0;
}

.socialContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: min(16.9vw, 166px);
    margin: min(3.9vw, 38px) min(3.9vw, 38px) 0 0;
    width: min(27.3vw, 268px);
    z-index: 0;
}

.socialWrapper {
    display: flex;
    gap: min(2.6vw, 25px);
    justify-content: center;
}

.cardsContainer {
    background: #fff;
    padding: 20px;
    border-top: 1px solid black;
}

.cardsWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: -450px;
    z-index: 2;
    position: relative;
}

.mainTitle {
    width: calc(100vw - 40px);
    max-width: 930px;
    font-size: clamp(30px, 4vw, 50px);
    margin-bottom: 0;
}