.heroWrapper {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 40px 20px;
    height: calc(100vw / 16 * 8);
}

.name {
    font-family: Public Sans, sans-serif;
    background-clip: text;
    /*color: transparent;*/
    /*background-image: linear-gradient(90deg, rgba(126,0,255,1) 0%, rgba(45,16,189,1) 52%, rgba(255,181,0,1) 100%);*/
    font-size: 17vw;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: -3vw 0;
    transform: scaleX(1.1);
    letter-spacing: -1vw;
    -webkit-text-stroke: 2px white;
}

.locationWrapper, .contactWrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
    height: 6.6vw;
}

.locationText, .contactText {
    font-size: 1.7vw;
}

.paragraphText {
    font-size: 2vw;
    margin: 2vw 0 0 5vw;
}

.socialWrapper {
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.cardsContainer {
    margin-top: 660px;
    margin-bottom: -113px;
    background: #fff;
    padding: 0 20px
}

.cardsWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    transform: translateY(-500px);
}

.footer {
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #010001;
    width: 100vw;
    text-align: center;
}